<div class="mat-app-background" [class.mobile]="mobileQuery.matches">
    <mat-toolbar color="primary" class="main-toolbar">
        <button mat-icon-button (click)="sidenav.toggle()"><mat-icon>menu</mat-icon></button>
        <h1>Pow Pow</h1>
    </mat-toolbar>
    <mat-sidenav-container class="sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
        <mat-sidenav #sidenav [mode]="this.mobileQuery.matches ? 'over' : 'side'">
            Sidenav
        </mat-sidenav>
        <mat-sidenav-content>
            <router-outlet></router-outlet>
            <app-footer></app-footer>
        </mat-sidenav-content>    
    </mat-sidenav-container>
</div>
