<!DOCTYPE html>
<html lang="fr">

    <head>
        <%- include('../partials/head'); %>
    </head>

    <body class="vh-100">
        <main class="h-100 d-flex flex-column justify-content-evenly align-items-center">
            <h1 class="text-center">Pow Pow</h1>
            <div class="p-4 col-12 col-md-6 d-flex gap-3 flex-column align-items-center text-center">
                <h2>Commencer une nouvelle partie et de générer un code pour que les joueurs puissent rejoindre celle-ci</h2>
                <button type="button" class="btn btn-lg btn-primary p-2">Host</button>
            </div>
            <div class="p-4 col-12 col-md-6 d-flex gap-3 flex-column align-items-center text-center">
                <h2>Rejoindre une partie en entrant le code généré par l'hôte</h2>
                <button type="button" class="btn btn-lg btn-primary ">Player</button>
            </div>
        </main>
        <footer>
            <%- include('../partials/footer'); %>
        </footer>
    </body>
</html>