.start-game,
.game-score {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-height: var(--page-height)
}

.player-list {
  width: 50%;
}

.spacer {
  height: 2rem;
}

table th,
table td {
    text-align: center;
}

@media screen and (max-width: 768px) {
  .player-list {
    width: 90%;
  }
}
